# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so


## REFacegitignores
#Our models
REFace/models/REFace/checkpoints

#Example image outputs
examples/FaceSwap/Swap_outs/*

#face parsing model (segmentation) Done
REFace/Other_dependencies/face_parsing/79999_iter.pth


#stable_diffsuin models Done
REFace/pretrained_models/sd-v1-4.ckpt
REFace/pretrained_models/sd-v1-4-modified-9channel.ckpt

# Paint-by-example model Done
REFace/checkpoints/model.ckpt
# Expression model (For quantitative analysis only)  Not used
REFace/Other_dependencies/face_recon/epoch_latest.pth
REFace/eval_tool/Deep3DFaceRecon_pytorch_edit/BFM/*.mat

# Arcface model 
REFace/Other_dependencies/arcface/model_ir_se50.pth

# pose model (For quantitative analysis only)
REFace/Other_dependencies/Hopenet_pose/hopenet_robust_alpha1.pkl

# Landmark detection model 
Other_dependencies/DLIB_landmark_det/shape_predictor_68_face_landmarks.dat

# Qantitative results
REFace/Quantitative_Analysis/*

# unwanted files
niqe
**/*.pyc

#data
dataset/*


# results
REFace/results/*
REFace/examples/FaceSwap/Source_1/*
REFace/examples/FaceSwap/Target_1/*
REFace/examples/FaceSwap/Swap_outs_50/*
REFace/examples/FaceSwap/Swap_outs/*
REFace/.cache/*
REFace/results_video_new_REFace_analysis_flow2/*
